
version: "3.12"

services:
  db:
    image: postgres:18 
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: marking_db
      PGDATA: /var/lib/postgresql/data/pgdata
      TZ: Asia/Tashkent # Vaqtni to'g'rilash uchun
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d marking_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: fastapi_app
    command: python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    # MANA BU YERGA QO'SHASIZ:
    volumes:
      - .:/app
      - ./static:/app/static
    environment:
      - TZ=Asia/Tashkent # Python vaqtini to'g'rilash uchun
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  celery:
    build: .
    container_name: celery_worker
    command: python3 -m celery -A app.celery.celery worker --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/app # Celery ham rasmlar bilan ishlasa, bunga ham ulab qo'ying
    depends_on:
      - redis
      - db

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./static:/usr/share/nginx/html/static # Nginx rasmlarni o'zi tarqatishi uchun
    depends_on:
      - web

volumes:
  postgres_data: